[url]
URL = https://chaturbate.com/auth/login/
URL_follwed = https://chaturbate.com/followed-cams/
[credentials]
USER = CHATURBATE_USERNAME
PASS = CHATURBATE_PASSWORD
[folders]
Video_folder = Captured
Script_folder = Scripts
Converted_folder = Converted
[files]
Log_file = output.log
wishlist_file = wishlist.txt
[delays]
Time_delay = 30
[version]
Version = 8.0
[debug]
Debugging = False
[advanced]
LIVESTREAMER = /usr/local/bin/livestreamer
Disable_wishlist = False
